@use '../base/variables' as v;
@use '../base/mixins' as m;

.content{
    padding: none;

    @include m.tablet {
        margin-left: 210px;
    }
}

.fijar {
    overflow: hidden;
    height: 100vh;
    ;
}

.swipeable-list-item__content {
    display: block;
}