@use '../base/variables' as v;
@use '../base/mixins' as m;

.sidebar{
    background-color: v.$gray;
    @include m.tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 210px;
        height: 100%;
        position: fixed;
        overflow: auto;
    }

    &__title{
        background-color: v.$white;
        color: v.$secondary;
        font-family: v.$titleFont;
        font-weight: 700;
        font-size: 3rem;
        margin-top: 1rem;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        @include m.tablet {
            flex-direction: column;
        }
        &-item{
            color: v.$gray-darken;
            padding: 2rem 2rem;
            font-weight: 700;
            transform: background-color;
            transition-duration: 250ms;

            span{
                padding-right: 2rem;
            }
        }
        &-item:hover {
            background-color: v.$black;
            color: v.$white;
            border-radius: .5rem;
            cursor: pointer;

            span{
                color: v.$primary;
            }
        }
    }

}

